BasedOnStyle: LLVM
ColumnLimit: 130
IndentWidth: 8
ContinuationIndentWidth: 8
UseTab: ForContinuationAndIndentation
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
Cpp11BracedListStyle: Block
SpaceBeforeParens: ControlStatementsExceptControlMacros
ForEachMacros: [poor_list_foreach, poor_list_foreach_safe, poor_list_foreach_bw, poor_list_foreach_bw_safe]
SkipMacroDefinitionBody: true
OneLineFormatOffRegex: '^TEST$'
