[submodule "refs/liburing"]
	path = refs/liburing
	url = https://github.com/axboe/liburing.git
[submodule "refs/iouringinfo"]
	path = refs/iouringinfo
	url = https://gitlab.freedesktop.org/lightofmysoul/iouringinfo.git
[submodule "refs/FastRing"]
	path = refs/FastRing
	url = https://github.com/cyanide-burnout/FastRing
[submodule "refs/libreactorng"]
	path = refs/libreactorng
	url = https://github.com/fredrikwidlund/libreactorng.git
[submodule "subprojects/poor_base"]
	path = subprojects/poor_base
	url = https://github.com/rustedsword/poor_base.git
